// Screen
// ======
@import "grids";
@import "compass";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #fff;
}

.container {
    @include container(80%);
    text-align: center;
}

.logo-section-1 {
    @include span(12);
    background: #fee;
    height: 100%;
    position: relative;
}

img {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOutAgain 3s;
    @keyframes fadeOutAgain {
    
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.logo-section-2 {
    @include span(12);
    height: 100%;
    position: relative;
    background: #dee;
}

.logo-section-3 {
    @include span(12);
    height: 100%;
    position: relative;
    background: #E2E0E1;
}


