/* line 5, ../sass/style.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 12, ../sass/style.scss */
body {
  background-color: #fff;
}

/* line 16, ../sass/style.scss */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, ../sass/style.scss */
.logo-section-1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fee;
  height: 100%;
  position: relative;
}

/* line 28, ../sass/style.scss */
img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOutAgain 3s;
}
@keyframes fadeOutAgain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 46, ../sass/style.scss */
.logo-section-2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  position: relative;
  background: #dee;
}

/* line 53, ../sass/style.scss */
.logo-section-3 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  position: relative;
  background: #E2E0E1;
}
